<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible"
		      content="IE=edge">
		<meta name="description"
		      content="Introducing Lollipop, a sweet new take on Android.">
		<meta name="viewport"
		      content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>Pokemon</title>
		<link rel="stylesheet"
		      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
		<link rel="stylesheet"
		      href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet"
		      href="https://code.getmdl.io/1.1.3/material.min.css">
		<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
		<link rel="stylesheet"
		      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
		<style media="screen">
			.fillAreaPokemon {
				min-height: 50vh;
			}

			.card-action {
				min-height: 300px;
			}

			#hideMe {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="pokemon-main mdl-layout mdl-js-layout mdl-layout--fixed-header">

			<div class="pokemon-header mdl-layout__header mdl-layout__header--waterfall z-depth-3">
				<div class="mdl-layout__header-row">
					<span class="pokemon-title mdl-layout-title">
            <img class="pokemon-logo-image" src="http://localhost:8000/images/pokemon-logo.png">
          </span>
					<!-- Add spacer, to align navigation to the right in desktop -->
					<div class="pokemon-header-spacer mdl-layout-spacer"></div>
					<div class="pokemon-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
						<div class="mdl-textfield__expandable-holder">
							<input class="mdl-textfield__input"
							       type="text"
							       id="search-field">
						</div>
					</div>
					<!-- Navigation -->
					<div class="pokemon-navigation-container">
						<nav class="pokemon-navigation mdl-navigation indigo darken-3 z-depth-3">
							<a class="mdl-navigation__link mdl-typography--text-uppercase"
							   href="/trainers">Trainers</a>
							<a class="mdl-navigation__link mdl-typography--text-uppercase"
							   href="/pokemon">Pokemón</a>
							<a class="mdl-navigation__link mdl-typography--text-uppercase"
							   href="/gym/home">Gym</a>
						</nav>
					</div>
					<span class="pokemon-mobile-title mdl-layout-title">
            <img class="pokemon-logo-image" src="http://localhost:8000/images/pokemon-logo.png">
          </span>


				</div>
			</div>

			<br>

			<div class="container">
				<br>
				<h1><%= title %></h1>
				<br>
				<% if (!gym.full && !gym.halfFull ) { %>
					<form class="col s12"
					      action="/gym/homeAssign"
					      method="post">
						Gym Slot One:<select name="pokemon1">
            <% for (let i = 0; i < pokemon.length; i++) { %>

              <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>

            <% } %>
          </select><br> Gym Slot Two:<select name="pokemon2">
            <% for (let i = pokemon.length - 1; i >= 0; i--) { %>

              <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>

            <% } %>
            </select>
						<br>
						<input type="submit"
						       class="waves-effect indigo lighten-1 waves-light btn"
						       value="Assign to Gym">
						<br>
					</form>
					<% if (!actionFlag) { %>

						<h3 class="red-text">A Pokemón cannot fight itself! Please choose a different Pokemón!</h3>

						<% } %>
							<% } else if (gym.halfFull) { %>

								<form class="col s12"
								      action="/gym/homeAssign"
								      method="post">
									Gym Slot One:<select name="pokemon1">
									<% let singlePokemonID %>
									<% for (let key in gym) { %>
			            <% for (let i = 0; i < pokemon.length; i++) { %>
									<% if (gym[key].id == pokemon[i].id) { %>
										<% singlePokemonID = pokemon[i].id %>
			              <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>
									<% } %>
			            <% } %>
									<% } %>
			          </select><br> Gym Slot Two:<select name="pokemon2">
			            <% for (let i = 0; i < pokemon.length; i++) { %>
									<% if (singlePokemonID != pokemon[i].id) { %>
			              <option value="<%= pokemon[i].id %>"><%= pokemon[i].name %></option>
									<% } %>
			            <% } %>
			            </select>
									<br>
									<input type="submit"
									       class="waves-effect indigo lighten-1 waves-light btn"
									       value="Assign to Gym">
									<br>
								</form>


								<% } else { %>

									<div class="row">

										<% if (gym.winner == false) { %>

											<h2 class="red-text"
											    id='hideMe'>Tie</h2>

											<% } %>

												<% let oneWinner = false %>
													<% let oneLoser = false %>

														<% for (let key in gym) { %>

															<% for (let i = 0; i < pokemon.length; i++) { %>

																<% if (pokemon[i].id == gym[key].id) { %>

																	<% if (gym.winner.id == gym[key].id && (key == 'p1' || key == 'p2') && oneWinner == false && !gym.halFull) { %>

																		<div id="gymWinner"
																		     class="col s6">
																			<div class="card indigo z-depth-3">
																				<div class="card-content white-text">
																					<h2 class="blue-text text-accent-4"><%= pokemon[i].name %></h2>
																					<h4 id="winTitle">Trainable Pokemon</h4> Stats:
																				</div>
																				<div class="card-action lime-text text-accent-4">
																					<h4>Attack power:
												 <%= pokemon[i].cp %>
										 </h4>
																					<h4>Gym status: In Gym</h4>
																					<h4>Trainer:
												 <%= pokemon[i].trainer_name %>
										 </h4>
																				</div>
																			</div>
																		</div>

																		<% oneWinner = true %>

																			<% } else if (gym.winner.id != gym[key].id && (key == 'p1' || key == 'p2') && oneLoser === false && !gym.halFull) { %>

																				<div id="gymLoser"
																				     class="col s6">
																					<div class="card indigo z-depth-3">
																						<div class="card-content white-text">
																							<h2 class="blue-text text-accent-4"><%= pokemon[i].name %></h2>
																							<h4 id="loseTitle">Trainable Pokemon</h4> Stats:
																						</div>
																						<div class="card-action lime-text text-accent-4">
																							<h4>Attack power:
															 <%= pokemon[i].cp %>
													 </h4>
																							<h4>Gym status: In Gym</h4>
																							<h4>Trainer:
															 <%= pokemon[i].trainer_name %>
													 </h4>
																						</div>
																					</div>
																				</div>

																				<% oneLoser = true %>

																					<% } %>
																						<% } %>
																							<% } %>
																								<% } %>
									</div>

									<div class="container">
										<div class="row">
											<form class="col s12 center-align"
											      action="/gym/battle"
											      method="post">
												<input type="submit"
												       class="waves-effect red lighten-2 waves-light btn z-depth-3"
												       value="Battle">
											</form>

										</div>
									</div>
									<% } %>

			</div>

			<div class="fillAreaPokemon">

			</div>

			<div class="pokemon-content mdl-layout__content">
				<div class="app-content pokemon-wear-section">
				</div>

				<footer class="pokemon-footer indigo darken-3 z-depth-3 mdl-mega-footer">
					Copyright Growth Mindset
				</footer>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
		<!-- <script src="https://code.getmdl.io/1.1.3/material.min.js"></script> -->

	</body>

	<script type="text/javascript">
		$(document).ready(function() {
			$('select').material_select();
			Materialize.updateTextFields();
		});
		window.addEventListener('load', function() {
			<% if (gym.winner.state == 'show') { %>
			window.setTimeout(() => {
				<% if (gym.winner == false) { %>
				document.getElementById('hideMe').style.display = 'block'
				<% } %>
				document.getElementById('gymLoser').style.display = 'none'
				document.getElementById('gymWinner').classList.remove('s6')
				document.getElementById('gymWinner').classList.add('s12')
				document.getElementById('gymWinner').classList.add('center-align')
				document.getElementById('winTitle').innerText = 'Winner'
			}, 700)
			<% } %>
		})
	</script>

</html>