<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Introducing Lollipop, a sweet new take on Android.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <title>Pokemon</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.min.css">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>

    <body>
        <div class="pokemon-main mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <div class="pokemon-header mdl-layout__header mdl-layout__header--waterfall">
                <div class="mdl-layout__header-row">
                    <span class="pokemon-title mdl-layout-title">
            <img class="pokemon-logo-image" src="images/pokemon-logo.png">
          </span>
                    <!-- Add spacer, to align navigation to the right in desktop -->
                    <div class="pokemon-header-spacer mdl-layout-spacer"></div>
                    <div class="pokemon-search-box mdl-textfield mdl-js-textfield mdl-textfield--expandable mdl-textfield--floating-label mdl-textfield--align-right mdl-textfield--full-width">
                        <div class="mdl-textfield__expandable-holder">
                            <input class="mdl-textfield__input" type="text" id="search-field">
                        </div>
                    </div>
                    <!-- Navigation -->
                    <div class="pokemon-navigation-container">
                        <nav class="pokemon-navigation mdl-navigation indigo">
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/trainers">Trainers</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="/pokemon">Pokemón</a>
                            <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#">Gym</a>
                        </nav>
                    </div>
                    <span class="pokemon-mobile-title mdl-layout-title">
            <img class="pokemon-logo-image" src="images/pokemon-logo.png">
          </span>


                </div>
            </div>


            <h1><%= title %></h1>

            <% if (title === "Add a Pokemon") { %>

                <form class="" action="/pokemon/add" method="post">
                    <input type="text" name="name" placeholder="Name">
                    <input type="number" name="cp" placeholder="Combat Power">
                    <select class="" name="in_gym">
                      <option value="false">Not in gym</option>
                      <option value="true">In gym</option>
                    </select>
                    <select class="" name="trainer_id">
                  <% for (let i = 0; i < trainers.length; i++) { %>
                <option value="<%= trainers[i].id %>">
                    <%= trainers[i].name %>
                </option>
                <% } %>
                    </select>
                    <input type="submit" value="Add pokemon">
                </form>

                <% } %>


                    <% if ( title === "Pokemon" || title === "Add a Pokemon") { %>
                        <div class="row">
                            <% for (let i = 0; i < pokemon.length; i++) { %>
                                <div class="col s4">
                                    <div class="card indigo">
                                        <div class="card-content white-text">
                                            <a href="/pokemon/view/<%= pokemon[i].id %>"><span class="card-title"><%= pokemon[i].name %></span></a>
                                            <p>Trainable Pokemon</p>
                                            Stats:
                                        </div>
                                        <div class="card-action">
                                            <p>Attack power:
                                                <%= pokemon[i].cp %>
                                            </p>
                                            <p>Gym status:

                                                <% if (pokemon[i].in_gym ) { %>

                                                    In Gym

                                                    <% } else { %>

                                                        Not in Gym

                                                        <% } %>

                                            </p>
                                            <p>Trainer:

                                                <% for (let z = 0; z < trainers.length; z++) { %>

                                                    <% if (pokemon[i].trainer_id === trainers[z].id) { %>
                                                        <%= trainers[z].name %>
                                                            <% } %>

                                                                <% } %>

                                            </p>
                                            <% if (title === "Add a Pokemon") { %>
                                                <a href="/pokemon/edit/<%= pokemon[i].id %>">Edit</a>
                                                <a href="#">Delete</a>
                                                <% } %>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <% } %>


                            <div class="pokemon-content mdl-layout__content">
                                <div class="app-content pokemon-wear-section">
                                </div>

                                <footer class="pokemon-footer mdl-mega-footer">
                                    Copyright Growth Mindset
                                </footer>
                            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <!-- <script src="https://code.getmdl.io/1.1.3/material.min.js"></script> -->

    </body>

    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

</html>